/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../assets/fonts/roboto-v30-latin-regular.woff') format('woff');
  }

  html{
      box-sizing: border-box;
      font-family: 'Roboto';
}

*, *::before, *::after{
	content: "";
	box-sizing: inherit;
}
/* HEADER */

.header {
    outline: 3px dashed red;
}

.header_wrapper {
    display: flex;
    /* flex-wrap: wrap ; */
    margin: auto;
    width: 1600px;
    height: 80px;
    background-color: black;
    border: 2px solid green; 
    /* padding-top: 14px; */
} 

.logo {
    outline: 1px solid red;
}

/* .header_logo_link {
    
} */

.restangle {
    height: 52px;
    width: 82px;
    margin-left: 220px;
    margin-top: 14px;
    border: 1px solid white;
    border-radius: 2px;
}

.bamboo {
    padding-left: 7.13px;
    margin-top: 24.64px;
    color: white;
} 

.petStory {
    margin-top: -43.50px;
    margin-left: 3.5px;
}

/* NAVIGATION */

.header_nav {
    margin-left: 63px;    
    display: flex;
    flex-wrap: wrap;
    outline: 10px dashed red;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 29px;
}

.header_item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding-right: 58px;
}

.header_link {
    text-decoration: none;
    color: white;
}

.header_link_about {
    text-decoration: none;
    color: #F9804B;
}
.designer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    outline: 1px solid red;
    padding: 29px 0; 
 } 
 .header_link_design {
    position: absolute;
    padding-right: 220px;
    text-decoration: none;
    color: red;

 }
